body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b5b5b;
}

.login-container {
    width: 300px;
    height: 400px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.login-icon {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    gap: 10px;
    
}

.login-container input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container button {
    width: 88%;
    padding: 10px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}